<div id="circuitCompleted" data-role="view" data-title="Rest" data-layout="no-footer" data-stretch="true" data-init="app.models.circuitCompleted.init" data-show="app.models.circuitCompleted.show">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a id="endWorkoutBtn" class="nav-button nav-button-back hide-text" data-align="left" data-role="button">Give up</a>
        </div>
    </header>
    <div id="circuitCompletedWrapper" class="content-stretched content-stretched-position-top flex-direction-vertical u-tac">
        <h1>Circuit completed!</h1>
        <h2 class="remaining-circuits-js"></h2>
        <p>Take some time to rest, you've earned it! Try to breathe, relax and don't forget to drink water.</p>
        <div id="workoutNavigation"></div>
    </div>
</div>