<div data-role="view" data-title="Circuits" data-layout="no-footer" data-show="app.models.selectWorkoutLevel.show">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a class="nav-button nav-button-back hide-text done-btn-js" data-align="left" data-role="button">Done</a>
        </div>
    </header>
    <div data-role="content" class="km-content km-stretched-view">
        <ul id="levels-list" class="list-view list-view--border-bottom" data-template="levelsTemplate" data-bind="source: levelsDataSource"></ul>
    </div>
</div>

<script type="text/x-kendo-template" id="levelsTemplate">
    <li>
        <a data-circuits="#= data.circuits #" class="u-ptb15 u-plr10 # if(data.selected) {# selected #}#">
            <span class="fl h-100">
                <span class="v-aling-helper"></span>
                <span class="km-icon km-refresh"></span>
                <span class="km-text">#: data.name #</span>
                <span class="km-text" # if(!data.time) {# style="display:none" #}# > - #: data.time # minutes</span>
            </span>
            <span class="fr h-100 item-checked">
                <span class="v-aling-helper"></span>
                <span class="km-icon km-check"></span>
            </span>
        </a>
    </li>
</script>