<div data-role="view" data-title="Settings" data-layout="no-footer" data-model="app.models.settings">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Done</a>
        </div>
    </header>
    
    <ul id="settings-list">
        <li>
            <a type="button" data-role="button" data-icon="download" data-badge="!" data-bind="click: downloadUpdate">Download update</a>
        </li>
    </ul>
</div>