<div data-role="view" data-title="Workout" data-layout="main" data-model="app.models.startWorkout">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a class="nav-button nav-button-add hide-text" data-align="right" data-role="button" data-icon="settings" data-transition="overlay:up" href="views/settings.html"></a>
        </div>
    </header>
    <ul class="list-view start-workout-settings">
        <li>
            <a id="selectWorkout">
                <img src="styles/images/chronometer_45_60.png" style="height: 30px;" />
                <span class="km-text text-main">Workout</span>
                <span id="selectedWorkoutName"></span>
            </a>
            <a id="selectNumberOfCircuits">
                <span class="km-icon km-refresh"></span>
                <span class="km-text text-main">Circuits</span>
            </a>
        </li>
    </ul>
</div>