<div data-role="view" data-layout="no-footer" data-show="app.models.workout.show">
    <header data-role="header">
        <div data-role="navbar">
            <span data-bind="source: Name"></span>
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
        </div>
        <p class="description" data-bind="text: Description">
        </p>
        <a data-role="button" class="startWorkoutBtn" data-icon="play">Start workout</a>
    </header>
    
    <div data-role="scroller">
        <ul class="exerciseList" data-template="exercisesTemplate" data-bind="source: Exercises"></ul>
    </div>
</div>

<script type="text/x-kendo-template" id="exercisesTemplate">
    <li>
        <div class="exerciseImage">#= data.SVGImage #</div>
        <span>#: data.Name #</span>
    </li>
</script>