<div data-role="view" data-layout="no-footer" data-init="app.models.workoutExercisesDetails.init" data-show="app.models.workoutExercisesDetails.show" data-stretch="true">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Back</a>
        </div>        
    </header>
    <div id="exercises-scroll-view"></div>
</div>

<script type="text/x-kendo-template" id="exercisesDetailsTemplate">
    <div class="exercisesDetails">
        <img src="data:image/png;base64,#= data.ImageBase64 #" class="exerciseImage" />
        <h1>#: data.Name #</h1>
    </div>
</script>