<div id="workoutInProgress" data-role="view" data-layout="no-footer" data-init="app.models.workoutInProgress.init" data-show="app.models.workoutInProgress.show" data-stretch="true">
    <header data-role="header">
        <div data-role="navbar">
            <span class="header-text"></span>
            <a id="endWorkoutBtn" class="nav-button nav-button-back hide-text" data-align="left" data-role="button">Give up</a>
        </div>
    </header>
    <div id="workoutInProgressWrapper" class="km-content km-stretched-view">
        <div id="exercises-scroll-view"></div>
        <div id="workoutNavigation"></div>
    </div>
</div>

<div id="modalview-countdown" data-role="modalview">
    <div class="content">
        <span>
            Starting in: <span class="u-fs--x-large" data-bind="text: secondsRemaining"></span>
        </span>
    </div>
</div>

<script type="text/x-kendo-template" id="workoutInProgressExercisesDetailsTemplate">
    <div class="exercises-details">
        <div style="display: #= data.isRest ? 'none' : '' #">
            <img src="data:image/png;base64,#= data.imageBase64 #" class="exercise-image" />
            <h1>#: data.name #</h1>
        </div>
        <div style="display: #= data.isRest ? '' : 'none' #">
            <div class="rest-header-test">REST</div>
            <h4>Next exercise:</h4>
            <h4>#: data.nextExerciseName #</h4>
            <img src="data:image/png;base64,#= data.nextExerciseImageThumbBase64 #" class="exercise-image-thumb" />
        </div>
    </div>
</script>